.board-row {
    display: flex;
    margin-left: 170px;
    
}
.p {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
}
.Restart {
    margin-top: 20px;
    margin-left: 260px;
}

.border{
    border-radius: 5px;
  }
.btn {
    border-radius: 25px;
}

.resultDisp {
    margin-left: 260px;
}
